body, html {
    background-image: linear-gradient(#191919,#400040);
    font-family: Arial, Helvetica, sans-serif;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin: 0;
}
    .container{
     
      list-style: none;
      margin: 0 auto 0 auto; 
      padding: 15px;
      
      background: #26282b;
      border-bottom-color: #158f96;
      border-style: solid;
      border-width: 2px;
      
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      justify-content: flex-end;
      -webkit-flex-flow: row wrap;
      
    }
    .form-row, #currentloc, #genres, #calculate-time{
      padding: 10px;
      margin-right: 20px;
    }
    .form-row, #genres, #calculate-time{
        margin-left: auto;
    }
    label{
        color:white;
    }
     .btn{
    background-color: #158f96;
    border-radius: 5px;
     }
     #currentloc{
        margin-right: auto;
        color: white;
        }

    #logo{
        margin-top: 40px;
        display: flex;
        width: 960px;
        margin: 0 auto;
        justify-content: center; 
    }
    .boxes-display{
        width: 960px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    .inner{
        padding: 20px;
        background-color: green;
        box-sizing: 20px;
        flex-basis: 30%;
    }
    .content {
        width: 960px;
        margin: 0 auto;
        display: flex; /* establish flex container */
            flex-direction: row; /* make main axis horizontal (default value) */
            justify-content: center; /* center items horizontally, in this case */
            align-items: center; /* center items vertically, in this case */
    
    }
    .box {
        width: 30%;
        margin: 2px;
        text-align: center;
        border: 1px solid #158f96; /* for demo purposes */
        color: whitesmoke;
        height: 300px; /* for demo purposes */
    }  
    p{
    font-size: 80px;    
    }
    tr{
    color:white;
    text-align: center;
    }
  